# Compiled bytecode
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
!lib/json-20230618.jar
!lib/toml4j-0.7.2.jar
*.war
*.ear

# Log files
*.log

# Gradle related
.gradle/
build/

# Ignore Gradle properties file (often contains sensitive information like API keys)
gradle.properties

# Mac OS related
.DS_Store

# Java related
*.hprof
*.idea/

# Python related
.pydevproject

# Eclipse related
*.metadata
*.recommenders
*.settings/
*.project
*.classpath

# Windows related
Thumbs.db
*.db

# Kotlin
*.kotlin_metadata
*.kotlin_builtins

# Ignore development config files
lib/src/test/resources/reai-dev-config.toml
bin
.antProperties.xml
